<link rel="stylesheet" type="text/css" href="assets/css/home.css" />
<nav class="navbar navbar-fixed-top navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/"><img src="assets/img/chat.png" class="" height="20" /></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="javascript:void(0)" ng-click="logout()">Sair</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<div class="row home content">
	<div class="col-left col-xs-12 col-sm-4 col-md-3">
		<div class="row form-procurar">
			<form class="form">
				<div class="form-group col-xs-9 col-sm-10 procurar">
					<input type="text" ng-model="contatoProcurado" class="form-control"
						placeholder="Procurar..."> <i
						ng-show="contatoProcurado.length > 0"
						class="limpa-procurar glyphicon glyphicon-remove form-control-feedback"
						ng-click="limpaBusca()"></i>
				</div>
				<div class="form-group col-xs-3 col-sm-2">
					<button type="button" class="btn btn-info"
						ng-click="contatoProcurado.length > 0 && procuraContato('{{contatoProcurado}}')">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</form>
		</div>
		<div class="row contatos">
			<div class="carregandoProcurar" style="display: none">
				<img src="assets/img/carregando.gif" class="img-carregando">
			</div>
			<ul class="list-group lista-de-contatos">
				<li class="list-group-item solicitacao-amizade"
					ng-repeat="contato in solicitacoesAmizade"
					data-contato-id="{{ contato.id }}" ng-show="contato.ignora != 1">
					<div class="media">
						<div class="media-left">
							<img class="media-object img-responsive img-thumbnail"
								src="assets/img/anonimo.jpg" alt="teste">
						</div>
						<div class="media-body">
							<h4 class="media-heading">{{ contato.login }}</h4>
							<p>solicitou amizade</p>
							<span class="label label-info btn-aceitar-amizade"
								ng-click="aceitaSolicitacaoAmizade(contato)"
								data-solicitacao-id="{{contato.id}}">aceitar</span> <span
								class="label label-danger btn-recusar-amizade"
								ng-click="recusaSolicitacaoAmizade(contato)"
								data-solicitacao-id="{{contato.id}}">recusar</span>
						</div>
					</div>
					<button type="button" class="close"
						data-dismiss="solicitacao-amizade" aria-label="Close"
						ng-click="fechaSolicitacaoAmizade(contato)">
						<span aria-hidden="true">&times;</span>
					</button>
				</li>
				<li class="list-group-item resultado-pesquisa"
					ng-repeat="contato in resultadoPesquisa"
					data-contato-id="{{ contato.id }}">
					<div class="media">
						<div class="media-left">
							<img class="media-object img-responsive img-thumbnail"
								src="{{ contato.avatar }}" alt="{{ contato.login }}">
						</div>
						<div class="media-body">
							<h4 class="media-heading">{{ contato.login }}</h4>
							<span ng-show="{{contato.solicitacaoPendente == null}}"
								class="label label-info btn-adicionar"
								ng-click="adicionaContato(contato)"
								data-contato-id="{{ contato.id }}">+ adicionar</span> <span
								ng-show="{{contato.solicitacaoPendente != null}}"
								class="label label-danger btn-cancelar-solicitacao"
								ng-click="cancelaSolicitacaoAmizade(contato)"
								data-contato-id="{{ contato.id }}">- cancelar solicitacao</span>
						</div>
					</div>
				</li>
				<li class="list-group-item contato"
					ng-repeat="contato in contatos | filter: contatoProcurado | orderBy: '-status'"
					data-contato-id="{{ contato.id }}"
					data-contato-login="{{ contato.login }}"><a
					href="javascript:void(0)" class="contato"
					ng-click="contato.status != -1 && iniciaConversa('{{contato.login}}')">
						<div class="media">
							<div class="media-left">
								<img class="media-object img-responsive img-thumbnail"
									src="{{ contato.avatar }}" alt="{{ contato.login }}">
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{ contato.login }}</h4>
								<span ng-show="contato.status == 0" class="label label-default">offline</span>
								<span ng-show="contato.status == 1" class="label label-success">online</span>
								<span ng-hide="contato.msgsNaoLidas == 0" class="badge">{{
									contato.msgsNaoLidas }}</span>
							</div>
						</div>
				</a></li>
			</ul>
		</div>
	</div>
	<div ng-show="::destinatario"
		class="col-right hidden-xs col-xs-12 col-sm-8 col-md-9"
		ng-swipe-right="exibeContatos()">
		<div class="media perfil-destinatario">
			<div class="media-left">
				<img class="media-object img-responsive img-thumbnail"
					src="{{ destinatario.avatar }}" alt="{{ destinatario.login }}">
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{ destinatario.login }}</h4>
			</div>
		</div>
		<div class="row chat">
			<div id="mensagens" class="form-group col-sm-12 offset-0 mensagens">
				<div class="carregandoMensagens" style="display: none">
					<img src="assets/img/carregando.gif" class="img-carregando">
				</div>
				<div class="col-xs-12 mensagem {{mensagem.tipo}}"
					ng-repeat="mensagem in destinatario.historico"
					title="{{mensagem.corpo.dtHrMensagem}}">
					<p
						ng-class="{'bg-success': mensagem.tipo == 'mensagem-recebida', 'bg-info': mensagem.tipo == 'mensagem-enviada'}">{{mensagem.corpo.mensagem}}</p>
				</div>
			</div>
			<div id="entrada-mensagem">
				<form id="entrada-mensagem" name="formChat" ng-submit="enviaMensagem(destinatario)">
					<div class="form-group col-xs-12 offset-0">
						<div class="input-group">
							<textarea class="form-control" id="mensagem" name="mensagem"
								ng-model="mensagem" required="required" ng-minlength="1"
								ng-trim="true" rows="2"
								my-keypress-enter="formChat.$valid && enviaMensagem(destinatario)"></textarea>
							<div class="input-group-addon" id="btn-enviar"
								ng-click="formChat.$valid && enviaMensagem(destinatario)">Enviar</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div ng-hide="::destinatario"
		class="apresentacao hidden-xs col-xs-12 col-sm-8 col-md-9">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>...</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more</a>
			</p>
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" id="modal-historico"
	aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<img src="{{destinatario.avatar}}" />
			<h4>{{destinatario.login}}</h4>
			<div class="modal-body mensagens"></div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" id="modal-msg-erro"
	aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">Erro ao
					conectar-se com o servidor</h4>
			</div>
			<div class="modal-body">Que pena =/ não foi possível se
				conectar. Tente novamente mais tarde!</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="logout()">OK</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->