<link rel="stylesheet" type="text/css" href="assets/css/login.css" />   
<div class="row pg-login content">
	<div class="col col-left hidden-xs col-sm-6 col-md-6 col-sm-6 col-lg-6">
		<div class="logo hidden-xs">
			<span>Clara Messenger  </span><img src="assets/img/chat.png" />
		</div>
	</div>
	<div
		class="col col-right col-xs-10 col-xs-offset-1 col-sm-4 col-sm-4 col-lg-3">
		<div class="logo visible-xs-block">
			<span>Chat  </span><img src="assets/img/chat.png" />
		</div>
		<div class="login centered" ng-init="exibeLogin = 1">
			<form name="formLogin" ng-submit="formLogin.$valid && cadastrar(novoUsuario)" nosubmit>
				<fieldset>
					<legend>Login</legend>
					<div ng-show="loginErrorMsg" class="alert alert-danger" role="alert">
						{{loginErrorMsg}}</div>
					<div class="form-group col-xs-14">
						<input type="text" id="login" name="login" ng-model="login.login"
							class="form-control" placeholder="Digite seu login" required>
					</div>
					<div class="form-group col-xs-14">
						<input type="password" id="senha" name="senha"
							ng-model="login.senha" class="form-control"
							placeholder="Digite sua senha" required>
					</div>
					<div class="form-group col-xs-14">
						<button type="button" id="btn-entrar" class="btn btn-success col-xs-12"
							ng-click="entrar(login)">Entrar <img class="carregandoLogin" src="assets/img/loading_apple.gif"></button>
					</div>
				</fieldset>
			</form>
			<a id="lnk-tela-cadastro" href="javascript:void(0)" class="hidden-md hidden-sm hidden-lg">Ainda não possui conta? clique aqui!</a>
		</div>
		<div class="cadastrar-se hidden-xs">
			<form name="formCadastrar"
				ng-submit="formCadastrar.$valid && cadastrar(novoUsuario)" nosubmit>
				<fieldset>
					<legend>Cadastre-se</legend>
					<div ng-show="cadastrarErrorMsg" class="alert alert-danger" role="alert">
						{{cadastrarErrorMsg}}</div>
					<div class="form-group col-xs-14"
						ng-class="{'has-error has-feedback': (formCadastrar.$submitted || formCadastrar.login.$touched) && !formCadastrar.login.$valid, 'has-success has-feedback': (formCadastrar.$submitted || formCadastrar.login.$touched) && formCadastrar.login.$valid}">
						<input type="text" id="login" name="login"
							ng-model="novoUsuario.login" class="form-control"
							required="required" ng-minlength="8" ng-maxlength="14"
							placeholder="Digite seu login" data-toggle="tooltip" data-placement="bottom" title="{{ (formCadastrar.$submitted || formCadastrar.login.$touched) && !formCadastrar.login.$valid ? 'Seu nome de usuário deve conter de 8 a 14 caracteres' : ''}}"> <span
							ng-show="(formCadastrar.$submitted || formCadastrar.login.$touched) && !formCadastrar.login.$valid"
							class="glyphicon glyphicon-remove form-control-feedback"
							aria-hidden="true"></span> <span
							class="glyphicon glyphicon-ok form-control-feedback"
							aria-hidden="true"
							ng-show="(formCadastrar.$submitted || formCadastrar.login.$touched) && formCadastrar.login.$valid"></span>
					</div>
					<div class="form-group col-xs-14"
						ng-class="{'has-error has-feedback': (formCadastrar.$submitted || formCadastrar.senha.$touched) && !formCadastrar.senha.$valid, 'has-success has-feedback': (formCadastrar.$submitted || formCadastrar.senha.$touched) && formCadastrar.senha.$valid}">
						<input type="password" id="senha" name="senha"
							ng-model="novoUsuario.senha" class="form-control"
							required="required" ng-minlength="4" ng-maxlength="8"
							placeholder="Digite sua senha" data-toggle="tooltip" data-placement="bottom" title="{{ (formCadastrar.$submitted || formCadastrar.senha.$touched) && !formCadastrar.senha.$valid ? 'Sua senha deve conter de 4 a 8 caracteres' : ''}}"> <span
							ng-show="(formCadastrar.$submitted || formCadastrar.senha.$touched) && !formCadastrar.senha.$valid"
							class="glyphicon glyphicon-remove form-control-feedback"
							aria-hidden="true"></span> <span
							class="glyphicon glyphicon-ok form-control-feedback"
							aria-hidden="true"
							ng-show="(formCadastrar.$submitted || formCadastrar.senha.$touched) && formCadastrar.senha.$valid"></span>
					</div>
					<div class="form-group col-xs-14"
						ng-class="{'has-error has-feedback': (formCadastrar.$submitted || formCadastrar.confirmaSenha.$touched) && !formCadastrar.confirmaSenha.$valid, 'has-success has-feedback': (formCadastrar.$submitted || formCadastrar.confirmaSenha.$touched) && formCadastrar.confirmaSenha.$valid}">
						<input type="password" id="confirmaSenha" name="confirmaSenha"
							class="form-control"
							ng-model="novoUsuario.confirmaSenha"
							my-password-check="novoUsuario.senha"
							placeholder="Confirme sua senha" data-toggle="tooltip" data-placement="bottom" title="{{ (formCadastrar.$submitted || formCadastrar.confirmaSenha.$touched) && !formCadastrar.confirmaSenha.$valid ? 'Senha e confirmação de senha não conferem' : ''}}"> <span
							ng-show="(formCadastrar.$submitted || formCadastrar.confirmaSenha.$touched) && !formCadastrar.confirmaSenha.$valid"
							class="glyphicon glyphicon-remove form-control-feedback"
							aria-hidden="true"></span> <span
							class="glyphicon glyphicon-ok form-control-feedback"
							aria-hidden="true"
							ng-show="(formCadastrar.$submitted || formCadastrar.confirmaSenha.$touched) && formCadastrar.confirmaSenha.$valid"></span>
					</div>
					<div class="form-group col-xs-14">
						<button type="submit" id="btn-cadastrar" class="btn btn-primary col-xs-12">Cadastrar-se <img class="carregandoCadastro" src="assets/img/loading_apple.gif"></button>
					</div>
				</fieldset>
			</form>
			<a id="lnk-tela-login" href="javascript:void(0)" class="hidden-md hidden-sm hidden-lg" ng-click="">Já possui conta? clique aqui!</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#lnk-tela-cadastro, #lnk-tela-login").click(function() {
			$("div.login").toggleClass("hidden-xs");
			$("div.cadastrar-se").toggleClass("hidden-xs");
		});
		
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>