html, body {
	overflow: hidden;
}

.home .col-left, .home .col-right {
	height: 100%;
}

.col-left .form-procurar {
	height: 6%;
}

.col-left .contatos {
	height: 94%;
}

.col-left .contatos .lista-de-contatos {
	width: 100%;
	height: 94%;
	overflow-y: scroll;
}

.col-left .contatos ul.lista-de-contatos a.contato {
	text-decoration: none;
}

.col-left .contatos ul.lista-de-contatos a.contato img {
	width: 64px;
}

.col-right .perfil-destinatario {
	height: auto;
	margin-botto: 2%
}

.col-right .chat {
	height: 80%;
}

.col-right .chat .mensagens {
	height: 80%;
	padding: 2%;
}

.col-right .perfil-destinatario img {
	width: 7.5em;
}

.col-right .chat .mensagens {
	height: 82%;
	margin-top: 4%;
	overflow-y: scroll;
}

.mensagens {
	font-size: 1.4em;
}

.mensagens .mensagem {
	display: block;
}

.mensagens .mensagem-enviada {
	text-align: right;
}

.mensagens .mensagem-recebida {
	text-align: left;
}

.mensagens .mensagem p {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0.5%;
}

#mensagem {
	resize: none;
}

#btn-enviar {
	cursor: pointer;
}


.procurar {
	padding: 0px;
}

.carregandoProcurar {
	margin-top: 10%;
	height: 100%;
	text-align: center;
}

.carregandoProcurar .img-carregando {
	height: 15%;
	z-index: 1000;
}

.carregandoMensagens {
	width: 100%;
	height: auto;
	text-align: center;	
}

.carregandoMensagens .img-carregando {
	height: 1.5em;
	z-index: 1000;
}

.limpa-procurar {
	cursor: pointer;
}

.procurar .form-control-feedback {
	pointer-events: auto;
}

.procurar .form-control-feedback:hover {
	cursor: pointer;
}

.btn-adicionar:hover, .btn-cancelar-solicitacao, .btn-aceitar-amizade, .btn-recusar-amizade {
	cursor: pointer
}

#modal-historico .mensagens {
	height: 500px
}

.btn-historico {
	text-align: center;
}

.home {
	margin-top: 60px;	
}

div.form-procurar {
	text-align: center;
}

.col-right .perfil-destinatario h4 {
	margin-top: 5%;
}

@media ( max-width : 768px) {
	.col-right .perfil-destinatario img {
		width: 64px;
	}
	#entrada-mensagem {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    border: 1px solid #e7e7e7;
	    background-color: #f8f8f8;
	    padding-top: 3%;
	}		
	
	.navbar .navbar-collapse {
		width: 100%;
	    float: right;
	    position: absolute;
	    z-index: 1000;
	}
	
	.navbar .navbar-collapse ul {
	    z-index: 100;
	    width: 60%;
	    float: right;
	    margin-top: -2px;
    }
    
    .navbar .navbar-collapse ul li {
    	background-color: #f8f8f8;
	    border: 1px solid #e7e7e7;
	    border-top: 0px;
    }
}