html, body {
	margin: 0px;
	margin-top: 1%;
	padding: 0px;
	height: 100%;
}

.container {
	height: 90%;
}

.content {
	height: calc(100% - 32px);
}

.carregandoLogin {
	position: absolute; 
	height: 1.2em; 
	display: none; 
	margin-top: -7%; 
	margin-left: 25%
}

.carregandoCadastro {
	position: absolute; 
	height: 1.2em; 
	display: none; 
	margin-top: -7%; 
	margin-left: 20%
}

button.close {
	margin-top: -30%;
}

@media ( max-width : 768px) {
	html, body {
		margin-top: 0px;
		overflow: hidden;
	}
	.container, .content {
		height: 100%;
	}
}